@import url(../Font.css);

$primary-color: rgb(26, 20, 17);
$secondary-color: rgba(95, 75, 68);

body{
  main{
    background-color: $secondary-color;
    color: white;

    .home_hidden_text{
  display: none;
}  
.service_page{
display: flex;
flex-wrap: wrap;
flex-direction: column;
gap: 70px;
padding: 80px 20px 20px 20px;


h1{
  font-family: 'Moda';
  font-size: 150px;
  font-weight: 500;
  align-self: center;

}

.home_service{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px;
  align-self: flex-end;
  width: 100%;
  gap: 50px;

  .service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 0.7px solid rgba(0, 0, 0, 0.31);
    padding: 20px 0;
    width: 100%;
    align-items: center;
    
    &:last-child{
      border-bottom: 0.7px solid rgba(0, 0, 0, 0.31);
      padding: 20px 0 50px 0;
     
      }

    }

    h3{
      font-size: 25px;
      flex: 1;
      cursor: pointer;
      transition: opacity 250ms ease;
       &:hover{
        opacity: 0.4;
      }

    }
  
    p{
      font-size: 15px;
      font-weight: 100;
      min-width: 315px;
    }

    button{
      background-color: transparent;
      color: white;
      border: 1px solid white ;
      padding: 10px 40px;
      flex-shrink: 0;
      font-size: 15px;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
        background-color: white;
        color: black;
        transition-duration: 1s;
        border: none;
      
    }
  }
}
}
}
}
  
