$primary-color: rgb(26, 20, 17);
$secondary-color: rgba(95, 75, 68);


body{
  font-family: "Caudex";
  font-weight: 400;}

.header{
  background-color: rgba(26, 20, 17);

.header_innerbox{
  display: flex;
  flex-wrap: wrap;
  padding: 12px 25px;
  align-items: center;
  gap: 20px;
  justify-content: space-between;


.header_right{
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-items: center ;
  gap: 55px;
  margin-right: 12px;
  margin-left: auto;

.header_profile{
  display: flex;
  align-items: center;
  gap: 11px ;


&:hover .test {
  opacity: 0.4;
}


svg{
  max-width: 35px;
  fill: rgba(255, 251, 250);

}
}



a{
  align-content: center;
  text-decoration: none;
  color: rgba(255, 251, 250);
}


}

.header_nav{
.header_menu{
  display: flex;
  gap: 23px;
}
a:hover{
  text-decoration: underline;
}

.burger{
  display: none;
}

.nav-list{
list-style: none;
display: flex;
transition: all 0.3s ease-in-out;
overflow: hidden;
color: white;
justify-content: center;
align-items: center;
text-align: center;
}

.nav-list.active{
  height: 100vh;
  z-index: 1;
}

.nav-list{
  margin: 20px 0;
}

.nav-list a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
  transition: background-color 0.3s;
}
.burger {
font-size:
30px;
background: none;
border: none;
color:#fff;
cursor: pointer;
z-index: 2;
}

.close-nav{ 
display: none; 
font-size: 40px; 
background: none;
border: none;
color:
#fff;
cursor: pointer;
position: absolute;
top: 20px; right: 20px; z-index: 3;
}


}

.header_left{
img{
  min-width: 175px;
}
}

}
a{
  cursor: pointer;
}

@media screen and (max-width: 1130px){
 
      .header_innerbox{
        .header_nav{
          .header_menu a{
            font-size: 15px;
        }
      }
    }
  }
  


@media screen and (max-width: 1010px) {

.header_innerbox {
  padding: 10px 22px;

.header_left {
 img {
  min-width: 150px;
 }
}

.header_right{
.header_profile {
  display: none;
}
.nav-list{
display: flex;
flex-direction: column;
height: 0;
position: absolute;
top: 0;
left: 0;
right: 0;
background-color:rgba(0,0,0.9);
color: #fff;
}

.nav-List.active { height: 100vh;}

.burger{
  display: block;
  background-color: $secondary-color;
}


.close-nav {display: none;}

.nav-List.active + .burger {
display: none;}

.nav-list.active + .burger + .close-nav { 
  display:block

}
.burger_menu {
  display: flex;
  max-width:45px;
  fill: white;
  background-color: $secondary-color;
  padding: 5px;
 
  .burg{
    max-height:35px ;
  }

img {
  width: 100%;
  display: block;
}
}
}
}

}

@media screen and (max-width: 500px) {

.header_innerbox {
 padding: 10px 8px;
.header_left {
 img {
 min-width: 127px;
}
}
.burger_menu {
 max-width: 35px;

img {
  width: 100%;
  display: block;
}
}

}

}
}