
header{
   a.active{
      text-decoration: underline !important;
    }
}
main{
  background-color: rgba(95, 75, 68);
  color: white;

  .portfolio_innerbox{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    padding: 10px;

    h1{
      padding: 30px;
      font-size: 150px;
    }

    .port_cards{
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      padding: 50px 0px;
     
      

     p{
      max-width: 355px;
      font-size: 18px;
    }
  
    h3{
      font-size:22px ;
    }

    .image_zoom{
      width: 390px;
      cursor: pointer;
      display: block;
      overflow: hidden;
      img{
        display: block;
        max-width: 100%;
        transition: transform 600ms ease;
        transform-origin: center;
        &:hover{
          transform: scale(1.08);
        }
      }
    }



    .port_port{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 10px;
    }
    }
  

  }

  
}

@media screen and (max-width: 965px){
  
  main{
    .portfolio_innerbox{
     .port_cards{
      flex-direction: column;
      gap: 20px;
      padding: 20px;
      // align-content: center;
      // justify-content: center;

      p{
      max-width: 200px;
      font-size: 12px;
      }
  
      h3{
      font-size:16px ;
      }
  

     .port_port{
      gap: 60px;
      }
  }
}
}
}
