@import url(../Font.css);

$primary-color: rgb(26, 20, 17);
$secondary-color: rgba(95, 75, 68);


body{
  main{
.modern_living_page{
  background-color: rgb(234, 238, 241);
  padding: 70px 5px 0 0;
  h1{
    font-size: 150px;
    font-family: 'Cormorant';
    font-weight: 500;
    margin-top: 10px;
    max-width: 75%;
  }
}
.modern_layout_2{
  width: 100%;
  img{
    width: 100%;
    height: auto;
  }
}
.modern_layout_3{
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  .modern_layout_3_top{
    h2{
      font-size: 60px;
      margin-bottom: 20px;
    }
  }

  .modern_layout_3_bot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;

    // .modern_layout_3_bot_img{
    //   width: 100%;
    //   height: auto;
    //   object-fit: cover;
    //   object-position: center;
    // }

    p{
      font-size: 20px;
      max-width: 500px;
    }
  }
  
}
.modern_layout_4{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  .modern_layout_4_left{
    img{
      width: 100%;
      height: auto;
    }
  }
  .modern_layout_4_right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 20px;
    padding-right: 20px;
    margin-right: 20px;
    gap: 30px;
    p{
      font-size: 14px;
    }
  }
}
.modern_layout_5{
h2{
  font-size: 60px;
  font-family: 'Cormorant';
  font-weight: 500;
  margin-bottom: 15px;
  padding: 20px;
  padding-top: 70px;
}
.workflow_item{
  display: flex;
  gap: 30px;
  padding: 30px 100px 60px 10px;

.workflow_right{
  padding:0 40px 0 40px;
}
  

.workflow_left{
  display: flex;
  gap: 10px;

  .workflow_title{
    font-size: 24px;
    max-width: 750px;
    width: 100%;
  }
 

  .workflow_numebr{
    font-size: 25px;
  }

}
p{
  font-size: 14px;
  max-width: 485px;
  line-height: 1.5;
}
}

 
}
.modern_layout_6{
  padding-bottom: 60px;
h2{
  font-size: 70px;
  font-family: 'Cormorant';
  font-weight: 500;
  margin-bottom: 15px;
  padding: 20px;
  padding-top: 70px;
}
.modern_layout_6_cards{
  display: flex;
  gap: 30px;
  padding-right: 50px;
.modern_layout_6_card{
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;

.modern_layout_6_title{
  font-size: 25px;
}
.bot_6{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
button{
  margin-top: 50px;
  max-width: 170px;
  background-color: rgba(54, 82, 80);
  color: white;
  padding: 10px 15px;
  border: 1px solid rgba(54, 82, 80);
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}



}
}
}
.modern_layout_7{
  h2{
  font-size: 70px;
  font-family: 'Cormorant';
  font-weight: 500;
  margin-bottom: 10px;
  padding: 20px;
}

.modern_showcase{
  display: grid;
  grid-template-columns: 1fr 1fr;

.showcase_item{
  display: flex;
  flex-direction: column;
  gap: 15px;

  img{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  span{
    font-size: 20px;
  }
}
}


  }
.modern_layout_8{
.modern_consult{
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 600px;
.consult_left{

  .consult_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.consult_right{
  background-color:rgba(204, 194, 189) ;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;

  h2{
    font-size: 23px;
    font-family: 'Moda';
    max-width: 200px;
    padding-bottom: 20px;
  }
.modern_service{
   display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 0.7px solid rgba(0, 0, 0, 0.31);
    border-bottom: 0.7px solid rgba(0, 0, 0, 0.31);
    padding: 40px 0;
    width: 100%;
    align-items: center;
    gap: 10px;
h3{
  font-size: 20px;
}
button{
  max-width: 170px;
  background-color: rgba(54, 82, 80);
  color: white;
  padding: 8px 25px;
  border: 1px solid rgba(54, 82, 80);
  z-index: 0;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}
a{color: white;}
z-index: 1;
    }
}

}

}

}
}



@media screen and (max-width: 1025px){
  body{
    main{
      .modern_living_page{
        padding: 40px 5px 10px 5px;
        h1{
          font-size: 80px;
          max-width: 60%;
        }
      }
      .modern_layout_4{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .modern_layout_4_right{
          display: flex;
          flex-direction: column;
          padding: 10px;
      }


    }
  }
  
}
}

@media screen and (max-width: 765px){
  body{
    main{
      .modern_living_page{
        padding: 20px 5px 20px 10px;
        h1{
          font-size: 60px;
        }
      }
.modern_layout_5{
  h2{
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
  }
  .workflow_item{
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 10px 30px 20px ;
  
    .workflow_left{
      flex-direction: column;
      .workflow_title{
        font-size: 20px;
        padding-top: 20px;
      }
        .workflow_numebr{
        font-size: 18px;
       }
    }
    .workflow_right{
      padding: 5px;
      p{
        font-size: 12px;
      }
    }
  }

}

.modern_layout_6{
  .modern_layout_6_cards{
    flex-direction: column;
  }
}

.modern_layout_7{
  .modern_showcase{
grid-template-columns: 1fr;
}}

.modern_layout_8{
  .modern_consult{
    grid-template-columns: 1fr;
  }
}
    }
  }
  
}

@media screen and (max-width: 630px){
  body{
    main{
      .modern_living_page{
        padding-left: 30px;
        h1{
          font-size: 40px;}

        .modern_layout_2{
          width: 400px;
          height: 400px;
          overflow: hidden;
          

        img{
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .modern_layout_3{
      padding: 15px;
      .modern_layout_3_top{
        gap: 10px;
        h2{
          font-size: 15px;
        }
      }
       .modern_layout_3_bot{
         flex-direction: column;
         align-items: flex-start;
         gap: 35px;
         margin-top: 5px;
         p{
           max-width: 100%;
           font-size: 16px;
         }
         img{
           width: 50%;
           height: auto;
           object-fit: cover;
           object-position: center;
         }
       }
  }
  .modern_layout_4{
    gap: 10px;
    .modern_layout_4_right{
      gap: 10px;
      p{
        font-size: 12px;
      }
    }
  }

  .modern_layout_6{
    h2{
  font-size: 50px;}
  .modern_layout_6_cards{
    gap: 10px;
    .modern_layout_6_card{
      gap: 20px;
      button{
        margin-top: 8px;
        border-radius: 30px;
      }
      .modern_layout_6_title{
        font-size: 18px;}
        .text_6, .date{
          font-size: 14px;}}
  }
  }
.modern_layout_7{
  h2{
    font-size: 25px;
  }
  .modern_showcase{
grid-template-columns: 1fr;
}}

.modern_layout_8{
  .modern_consult{
    grid-template-columns: 1fr;

    .consult_right{
      flex-direction: column;
      align-items: center;
      padding: 10px;
      gap: 20px;
      h2{
        font-size: 15px;
        padding: 12px;
      }
    .modern_service{
      flex-direction: column;
      }
    }
  }
}

}
}
}


@media screen and (max-width: 445px){
  body{
    main{
      .modern_living_page{
        padding-left: 20px;
        h1{
          font-size: 30px;
          max-width: 60%;
        }
      }
       .modern_layout_2{
          width: 100%;
          height: 180px;
          overflow: hidden;
          

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        
        }
      }

  .modern_layout_6{
    h2{
  font-size: 30px;
   margin-bottom: 2px;
   padding-bottom: 2px;
   padding-left: 30px;
  }
  .modern_layout_6_cards{
    gap: 10px;
   align-items: flex-start;
    .modern_layout_6_card{
    
      .modern_layout_6_title{
        font-size: 14px;}
        .text_6, .date{
          font-size: 11px;}

       
    }


  }
  }


    }
  }
  
}
