@import url(../Font.css);
body main .modern_living_page {
  background-color: rgb(234, 238, 241);
  padding: 70px 5px 0 0;
}
body main .modern_living_page h1 {
  font-size: 150px;
  font-family: "Cormorant";
  font-weight: 500;
  margin-top: 10px;
  max-width: 75%;
}
body main .modern_layout_2 {
  width: 100%;
}
body main .modern_layout_2 img {
  width: 100%;
  height: auto;
}
body main .modern_layout_3 {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
body main .modern_layout_3 .modern_layout_3_top h2 {
  font-size: 60px;
  margin-bottom: 20px;
}
body main .modern_layout_3 .modern_layout_3_bot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}
body main .modern_layout_3 .modern_layout_3_bot p {
  font-size: 20px;
  max-width: 500px;
}
body main .modern_layout_4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
body main .modern_layout_4 .modern_layout_4_left img {
  width: 100%;
  height: auto;
}
body main .modern_layout_4 .modern_layout_4_right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-right: 20px;
  margin-right: 20px;
  gap: 30px;
}
body main .modern_layout_4 .modern_layout_4_right p {
  font-size: 14px;
}
body main .modern_layout_5 h2 {
  font-size: 60px;
  font-family: "Cormorant";
  font-weight: 500;
  margin-bottom: 15px;
  padding: 20px;
  padding-top: 70px;
}
body main .modern_layout_5 .workflow_item {
  display: flex;
  gap: 30px;
  padding: 30px 100px 60px 10px;
}
body main .modern_layout_5 .workflow_item .workflow_right {
  padding: 0 40px 0 40px;
}
body main .modern_layout_5 .workflow_item .workflow_left {
  display: flex;
  gap: 10px;
}
body main .modern_layout_5 .workflow_item .workflow_left .workflow_title {
  font-size: 24px;
  max-width: 750px;
  width: 100%;
}
body main .modern_layout_5 .workflow_item .workflow_left .workflow_numebr {
  font-size: 25px;
}
body main .modern_layout_5 .workflow_item p {
  font-size: 14px;
  max-width: 485px;
  line-height: 1.5;
}
body main .modern_layout_6 {
  padding-bottom: 60px;
}
body main .modern_layout_6 h2 {
  font-size: 70px;
  font-family: "Cormorant";
  font-weight: 500;
  margin-bottom: 15px;
  padding: 20px;
  padding-top: 70px;
}
body main .modern_layout_6 .modern_layout_6_cards {
  display: flex;
  gap: 30px;
  padding-right: 50px;
}
body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
}
body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card .modern_layout_6_title {
  font-size: 25px;
}
body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card .bot_6 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card button {
  margin-top: 50px;
  max-width: 170px;
  background-color: rgb(54, 82, 80);
  color: white;
  padding: 10px 15px;
  border: 1px solid rgb(54, 82, 80);
  cursor: pointer;
}
body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card button:hover {
  text-decoration: underline;
}
body main .modern_layout_7 h2 {
  font-size: 70px;
  font-family: "Cormorant";
  font-weight: 500;
  margin-bottom: 10px;
  padding: 20px;
}
body main .modern_layout_7 .modern_showcase {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
body main .modern_layout_7 .modern_showcase .showcase_item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body main .modern_layout_7 .modern_showcase .showcase_item img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .modern_layout_7 .modern_showcase .showcase_item span {
  font-size: 20px;
}
body main .modern_layout_8 .modern_consult {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 600px;
}
body main .modern_layout_8 .modern_consult .consult_left .consult_image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
body main .modern_layout_8 .modern_consult .consult_right {
  background-color: rgb(204, 194, 189);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}
body main .modern_layout_8 .modern_consult .consult_right h2 {
  font-size: 23px;
  font-family: "Moda";
  max-width: 200px;
  padding-bottom: 20px;
}
body main .modern_layout_8 .modern_consult .consult_right .modern_service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 0.7px solid rgba(0, 0, 0, 0.31);
  border-bottom: 0.7px solid rgba(0, 0, 0, 0.31);
  padding: 40px 0;
  width: 100%;
  align-items: center;
  gap: 10px;
}
body main .modern_layout_8 .modern_consult .consult_right .modern_service h3 {
  font-size: 20px;
}
body main .modern_layout_8 .modern_consult .consult_right .modern_service button {
  max-width: 170px;
  background-color: rgb(54, 82, 80);
  color: white;
  padding: 8px 25px;
  border: 1px solid rgb(54, 82, 80);
  z-index: 0;
  cursor: pointer;
}
body main .modern_layout_8 .modern_consult .consult_right .modern_service button:hover {
  text-decoration: underline;
}
body main .modern_layout_8 .modern_consult .consult_right .modern_service a {
  color: white;
}
body main .modern_layout_8 .modern_consult .consult_right .modern_service {
  z-index: 1;
}

@media screen and (max-width: 1025px) {
  body main .modern_living_page {
    padding: 40px 5px 10px 5px;
  }
  body main .modern_living_page h1 {
    font-size: 80px;
    max-width: 60%;
  }
  body main .modern_layout_4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  body main .modern_layout_4 .modern_layout_4_right {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
@media screen and (max-width: 765px) {
  body main .modern_living_page {
    padding: 20px 5px 20px 10px;
  }
  body main .modern_living_page h1 {
    font-size: 60px;
  }
  body main .modern_layout_5 h2 {
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
  }
  body main .modern_layout_5 .workflow_item {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    padding: 10px 30px 20px;
  }
  body main .modern_layout_5 .workflow_item .workflow_left {
    flex-direction: column;
  }
  body main .modern_layout_5 .workflow_item .workflow_left .workflow_title {
    font-size: 20px;
    padding-top: 20px;
  }
  body main .modern_layout_5 .workflow_item .workflow_left .workflow_numebr {
    font-size: 18px;
  }
  body main .modern_layout_5 .workflow_item .workflow_right {
    padding: 5px;
  }
  body main .modern_layout_5 .workflow_item .workflow_right p {
    font-size: 12px;
  }
  body main .modern_layout_6 .modern_layout_6_cards {
    flex-direction: column;
  }
  body main .modern_layout_7 .modern_showcase {
    grid-template-columns: 1fr;
  }
  body main .modern_layout_8 .modern_consult {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 630px) {
  body main .modern_living_page {
    padding-left: 30px;
  }
  body main .modern_living_page h1 {
    font-size: 40px;
  }
  body main .modern_living_page .modern_layout_2 {
    width: 400px;
    height: 400px;
    overflow: hidden;
  }
  body main .modern_living_page .modern_layout_2 img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  body main .modern_layout_3 {
    padding: 15px;
  }
  body main .modern_layout_3 .modern_layout_3_top {
    gap: 10px;
  }
  body main .modern_layout_3 .modern_layout_3_top h2 {
    font-size: 15px;
  }
  body main .modern_layout_3 .modern_layout_3_bot {
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    margin-top: 5px;
  }
  body main .modern_layout_3 .modern_layout_3_bot p {
    max-width: 100%;
    font-size: 16px;
  }
  body main .modern_layout_3 .modern_layout_3_bot img {
    width: 50%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  body main .modern_layout_4 {
    gap: 10px;
  }
  body main .modern_layout_4 .modern_layout_4_right {
    gap: 10px;
  }
  body main .modern_layout_4 .modern_layout_4_right p {
    font-size: 12px;
  }
  body main .modern_layout_6 h2 {
    font-size: 50px;
  }
  body main .modern_layout_6 .modern_layout_6_cards {
    gap: 10px;
  }
  body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card {
    gap: 20px;
  }
  body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card button {
    margin-top: 8px;
    border-radius: 30px;
  }
  body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card .modern_layout_6_title {
    font-size: 18px;
  }
  body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card .text_6, body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card .date {
    font-size: 14px;
  }
  body main .modern_layout_7 h2 {
    font-size: 25px;
  }
  body main .modern_layout_7 .modern_showcase {
    grid-template-columns: 1fr;
  }
  body main .modern_layout_8 .modern_consult {
    grid-template-columns: 1fr;
  }
  body main .modern_layout_8 .modern_consult .consult_right {
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 20px;
  }
  body main .modern_layout_8 .modern_consult .consult_right h2 {
    font-size: 15px;
    padding: 12px;
  }
  body main .modern_layout_8 .modern_consult .consult_right .modern_service {
    flex-direction: column;
  }
}
@media screen and (max-width: 445px) {
  body main .modern_living_page {
    padding-left: 20px;
  }
  body main .modern_living_page h1 {
    font-size: 30px;
    max-width: 60%;
  }
  body main .modern_layout_2 {
    width: 100%;
    height: 180px;
    overflow: hidden;
  }
  body main .modern_layout_2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  body main .modern_layout_6 h2 {
    font-size: 30px;
    margin-bottom: 2px;
    padding-bottom: 2px;
    padding-left: 30px;
  }
  body main .modern_layout_6 .modern_layout_6_cards {
    gap: 10px;
    align-items: flex-start;
  }
  body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card .modern_layout_6_title {
    font-size: 14px;
  }
  body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card .text_6, body main .modern_layout_6 .modern_layout_6_cards .modern_layout_6_card .date {
    font-size: 11px;
  }
}/*# sourceMappingURL=Modern_living.css.map */